{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
 
 <p> The data information about video games released between the years <br>
   2004-2010 <a href="https://corgis-edu.github.io/corgis/json/video_games/">can be found here. </a> This data set is provided by CORGIS Dataset Project. </p> 
  
<p> Some of the data statics that can be found in this data set are a <br>
  video games release date, the average time a player takes to complete <br>
  the main story of a game, ratings, the specific console for the game, <br>
  and many more. Heres an example of what kind of information can be given <br> 
  on a video game. </p> 
  
  <iframe src="https://corgis-edu.github.io/corgis/python/video_games/" title=" Main Story (Average, Leisure, Median Polled, & Rushed" width="100%" height="300">
</iframe>
  
 



{% endblock %}

