{% extends "layout.html" %}

{% set active_page = "index" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
 
<html>
<head>
  
<title> JsonResearch</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
  
  
<body>

<nav class="navbar navbar-expand-sm bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">layout.html</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
</nav>
<br>
 
 <p> The data information about video games released between the years <br>
   2004-2010 <a href="https://corgis-edu.github.io/corgis/json/video_games/">can be found here. </a> This data set is provided by CORGIS Dataset Project. </p> 
  
<p> Some of the data statics that can be found in this data set are a <br>
  video games release date, the average time a player takes to complete <br>
  the main story of a game, ratings, the specific console for the game, <br>
  and many more. Heres an example of what kind of information can be given <br> 
  on a video game. </p> 
  
  <iframe src="https://corgis-edu.github.io/corgis/python/video_games/" title=" Main Story (Average, Leisure, Median Polled, & Rushed" width="100%" height="300">
</iframe>
  
 

</body>
</html>

{% endblock %}

